.dark {
  --text-color: hsl(0, 0%, 50%);
  --text-color-light: hsl(0, 0%, 55%);
  --header-color: hsl(0, 0%, 60%);
  --body-bg: hsl(0, 0%, 20%);
  --advertising-bg: hsl(0, 0%, 30%);
  --header-bg: hsl(0, 0%, 0%);
  --highlight-color-a: hsl(5.7, 98.3%, 46.1%);
  --highlight-color-b: hsl(202.8, 65%, 56.3%);
  --highlight-color-c: hsl(113.8, 32.8%, 46.7%);
  --highlight-color-d: hsl(49, 100%, 59.4%);
  --main-nav: hsl(0, 0%, 80%);
  --footer-bg: hsl(0, 0%, 30%);
  --black: hsl(0, 0%, 100%);
  --white: hsl(0, 0%, 0%);
  --nav-border-color: hsl(0, 0%, 60%);
  --footer-links: hsl(0, 0%, 60%);
  --credits-bg: hsl(0, 0%, 30%);
  --credits-links: hsl(0, 0%, 95%);
}

.light {
  --text-color: hsl(0, 0%, 26.7%);
  --text-color-light: hsl(0, 0%, 55%);
  --header-color: hsl(0, 0%, 26.7%);
  --body-bg: hsl(0, 0%, 100%);
  --header-bg: hsl(0, 0%, 0%);
  --advertising-bg: hsl(0, 0%, 90%);
  --highlight-color-a: hsl(5.7, 98.3%, 46.1%);
  --highlight-color-b: hsl(202.8, 65%, 56.3%);
  --highlight-color-c: hsl(113.8, 32.8%, 46.7%);
  --main-nav: hsl(0, 0%, 100%);
  --footer-bg: hsl(0, 0%, 95%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --nav-border-color: hsl(0, 0%, 60%);
  --footer-links: hsl(0, 0%, 30%);
  --credits-bg: hsl(0, 0%, 30%);
  --credits-links: hsl(0, 0%, 95%);
}

:root {
  --max-width: 70rem;
  --header-height: 40px;
  --default-font: Arial, Helvetica, freesans, sans-serif;
  --default-font-size: 1em;
  --default-nav-size: 0.713em;
  --default-pad-min: 0.5em;
  --default-pad-med: 1em;
  --default-pad-max: 1.5em;
  --default-nav-padding: 20px;
}

body {
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: var(--default-font);
  transition: all 0.2s ease-in-out;
}

.app-header {
  background-color: #d60000;
  height: var(--header-height);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
}

.app-logo {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Dagbladet_logo.svg/800px-Dagbladet_logo.svg.png")
    no-repeat 0 0;
  background-size: contain;
  height: var(--header-height);
  line-height: var(--header-height);
}

.icon-account {
  background-image: url("./image/icon-sign-in.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 32px;
  margin-bottom: -3px;
  display: inline-block;
}

.search-submit {
  position: absolute;
  right: 5px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("./image/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.toggle-theme {
  border: none;
  background: transparent;
  color: #fff;
  border: 1px solid solid #fff;
  background-image: url("./image/iconfinder_icon-50-half-moon_315813.svg");
  background-size: cover;
  height: 40px;
  width: 40px;
}
